# General
ENVIRONMENT=development

# Puertos
FRONTEND_PORT=5173
BACKEND_PORT=8000

# URLs de Comunicación
VITE_API_URL=http://localhost:8000
DATABASE_URL=postgresql+asyncpg://ats_uce:ats_uce_secret@localhost:5432/ats_uce_dev

# Base de Datos (Credenciales directas para Docker)
DATABASE_NAME=ats_uce_dev
DATABASE_USER=ats_uce
DATABASE_PASSWORD=ats_uce_secret

# Autenticación (Clerk)
CLERK_PUBLISHABLE_KEY=your_clerk_pub_key_here
CLERK_SECRET_KEY=your_clerk_secret_key_here